on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        more_dim:
          - true # more_dimensions
          - false # vanilla
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"

      - uses: xmake-io/github-action-setup-xmake@v1
        # with:
        #   xmake-version: branch@master

      - uses: actions/cache@v4
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m release -p windows -v -y --more_dim=${{ matrix.more_dim }}

      - run: |
          xmake -v -y

      - run: |
          echo "SUFFIX=${{ matrix.more_dim == 'true' && 'more_dimensions' || 'vanilla' }}" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-windows-x64-${{ env.SUFFIX }}-${{ github.sha }}
          path: |
            bin/
